@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#content {
   width: 100%;
   /* max-width: 1600px; */
   /* margin: 0 auto; */
   /* background-color: tan; */
   /* box-shadow: 0 0 12px #000000; */
 }

 #logo_link {
   padding-top: 5px;
   justify-self: left;
   align-self: center;
   size: 10px;
}

nav a {
   /* display: grid; */
   text-align: right;
   color: black;
   text-decoration: none;
   padding: 25px 50px;
   display: flex;
   justify-content: space-around;

}

header {
   background-color: #E1932A;
   text-decoration: none;
   padding: 25px 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
nav a:hover {
   background-color: #e1de2a;
}

#hero-msg h1, #hero-msg h4 {
   text-align: center;
   /* color: white; */
}

#hero-msg {
   grid-column: 2/3;
   grid-row: 1/2;
   margin-top: 100px;

}

#hero {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   margin-top: -100px;
}

#hero-box {
   grid-column: 1/4;
   grid-row: 1/3;
   z-index: -1;
}

.button-box {
   text-align: center;
}

main section{
   text-align: center;
}

main section img {
   box-sizing: border-box;
}

#background {
   height: 725px;
   grid-column: 1/11;
   grid-row: 4/9;
}



body{
   background-color: #FAF126;
   font-family: Raleway, Arial, sans-serif;
   font-size: 22px;
   margin: 0;
   padding: 0;
}
h2 {
   margin: 0;
}

.book, .join {
   background-color: #E1932A;
   font-size: 18px;
   padding: 15px 30px;
}
.book:hover, .join:hover {
   background-color: #E1932A;
}

#background {
   background-color: #E1932A;
}
.msg {
   background-color: #E1932A;
   font-family: 'Raleway;', sans-serif;
   font-size: .8em;
   line-height: 1.5em;
   padding: 35px;
   grid-column: 6/10;
   grid-row: 6/7;
   box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
   padding-bottom: 15px;
}

footer {
   background-color: #E1932A;
   font-family: 'Raleway', sans-serif;
   padding: 25px 50px;
}

nav a:hover
.home-title {
   background-color: #FAF126;
   font-family: 'Raleway', sans-serif;
   font-size: 2em;
   margin-top: 10px;
}

.home-grid { 
   display: grid;
   grid-template-columns: 11fr;
   grid-template-rows: 10fr;
}

h4 {
   background-color: #FAF126;
}
.book, .join {
   background-color: #d9c2a3;
   /* color: black; */
   text-decoration: none;
   font-size: 18px;
   text-decoration: none;
   padding: 15px 30px;
   margin-top: 50px;
   border-radius: 5px;
}

.rivers-card {
   margin: 200px;
   grid-column: 2/4;
   grid-row: 2/3;
}

.camping-card {
   margin: 200px;
   grid-column: 5/7;
   grid-row: 2/3;
}

.rapids-card {
   margin: 200px;
   grid-column: 8/10;
   grid-row: 2/3;
}

.card-img {
   border: 10px solid #FAF126;
   width: 100%;
   transition: transform .5s;
   box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
   opacity: .6;
   transform: scale(1.1);
}

.mountains {
   border: 10px solid #FAF126;
   width: 100%;
   grid-column: 2/7;
   grid-row: 5/8;
   box-shadow: 5px 5px 10px #6f7364;
}

footer {
   text-decoration: none;
   padding: 25px 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;

}
footer a {
   text-decoration: none;
}
footer a:hover

footer p {
   font-size: 1.2em;
   text-decoration: none;
}

footer .social img {
   padding-top: 15px;
}

.icon{
   width: 80px;
   padding-top: 10px;
}

@media screen and (max-width: 900px) {
   #hero, .home-grid {
       display: block;
       height: auto;
   }
   nav, footer {
       flex-direction: column;
   }
   nav a {
       display: block;
       padding: 15px;
       margin-bottom: 25px;
   }
   #hero {
       margin-top: 0;
   }
   #hero-msg {
       margin-top: 0;
   }
   #hero-msg h4 {
       display: none;
   }
   .home-title {
       font-size: 25px;
       color: #6f7364;
   }
   .rivers-card, .camping-card, .rapids-card { 
       margin: 50px auto;
       width: 60%;
   }
   #background {
       display: none;
   }
   .mountains, .msg {
       width: 80%;
       display: block;
       margin: 0 auto;
   }
   footer {
       margin-top: 25px;
   }
}